/* Desktop Stylesheet */
@media only screen and (min-width : 1921px) {    
    a img {
        width: 25vw;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .caption span.border {
        padding: 10px;
        width: 100%;
        left: 0;
        right: 0;
        font-size: 25px;
        letter-spacing: 2px;
        margin-top: -50px;
    }
    /* End Entire Site Formatting */


    /* Background Formatting */
    .bgimg-2 {
        height: 800px;
        min-height: 100%;
    }

    .bgimg-3 {
        height: 800px;
        min-height: 100%;
    }

    .bgimg-4 {
        height: 800px;
        min-height: 100%;
    }
    /* End Background Formatting */


    /* Nav Bar */
    nav {
        padding: 0;
        top: 3.5%;
        left: 50%;
        height: 70px;
    }

    nav span {
        margin: 20px 40px;
        font-size: 20px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 45%;
        left: 50%;
    }

    .main-title img {
        width: 200px;
        height: 200px;
    }

    .home-caption {
        padding: 0;
        top: 75%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 24px;
    }
    /* End Home */


    /* About */
    #about {
        padding: 50px 80px;
        height: 55vw;
    }

    #portrait {
        width: 30vw;
        height: 35vw;
        margin-top: 9vw;  
    }

    #about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55vw;
        padding: 30px;
        font-size: 1vw;
        line-height: 1.8vw;
        margin-top: 9vw;
        height: 35vw;
    }
    /* End About */


    /* Experience */
    #experience {
        padding: 50px 80px;
        height: 110vw;
    }

    .row.languages {
        width: 100%;
    }

    .category-name {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 3vw;
        width: 100%;
        height: 50px;
        letter-spacing: 5px;
        font-size: 40px; 
    }

    .bar-container {
        margin: 10px;
        margin-left: -10vw;
        width: 60%;
    }

    .skill_name {
        margin-left: 250px;
        padding-left: 10px;
        width: 4vw;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }

    .skillbar_wrapper {
        margin-bottom: 15px;
        width: 25vw;
        height: 40px;
    }

    .skillbar_bar {
        height: 40px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 3px;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
    }

    #exp-tools {
        width: 55%;
        margin-top: -720px;
    }

    .icons a img {
        width: 50px;
        margin-bottom: 30px;
    }
    
    #docker img {
        width: 70px;
        margin-left: 40px;
    }

    .design a img {
        margin-left: 30px;
    }
    /* End Experience */


    /* Contact */
    #contact {
        padding:50px 80px;
        height: 900px;
    }

    .row.contact {
        width: 100%;
        margin-left: -1vw;
        margin-top: 5vh;
    }

    .contact a img {
        width: 100px;
    }

    .form a img {
        margin-top: 45px;
        width: 100px;
    }

    .row h1 {
        margin-top: 20vh;
        letter-spacing: 1px;
    }

    form {
        height: 200px;
        width: 300px;
        margin-left: 2vw;
    }

    textarea {
        height: 200px;
    }
    /* End Contact */
}

@media only screen and (max-width : 1920px) {    
    a img {
        width: 25vw;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .caption span.border {
        padding: 10px;
        width: 100%;
        left: 0;
        right: 0;
        font-size: 25px;
        letter-spacing: 2px;
        margin-top: -50px;
    }
    /* End Entire Site Formatting */


    /* Background Formatting */
    .bgimg-2 {
        height: 800px;
        min-height: 100%;
    }

    .bgimg-3 {
        height: 800px;
        min-height: 100%;
    }

    .bgimg-4 {
        height: 800px;
        min-height: 100%;
    }
    /* End Background Formatting */


    /* Nav Bar */
    nav {
        padding: 0;
        top: 3.5%;
        left: 50%;
        height: 70px;
    }

    nav span {
        margin: 20px 40px;
        font-size: 20px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 45%;
        left: 50%;
    }

    .main-title img {
        width: 200px;
        height: 200px;
    }

    .home-caption {
        padding: 0;
        top: 75%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 24px;
    }
    /* End Home */


    /* About */
    #about {
        padding: 50px 80px;
        height: 55vw;
    }

    #portrait {
        width: 30vw;
        height: 35vw;
        margin-top: 9vw;  
    }

    #about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55vw;
        padding: 30px;
        font-size: 1vw;
        line-height: 1.8vw;
        margin-top: 9vw;
        height: 35vw;
    }
    /* End About */


    /* Experience */
    #experience {
        padding: 50px 80px;
        height: 110vw;
    }

    .row.languages {
        width: 100%;
    }

    .category-name {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 3vw;
        width: 100%;
        height: 50px;
        letter-spacing: 5px;
        font-size: 40px; 
    }

    .bar-container {
        margin: 10px;
        margin-left: -10vw;
        width: 60%;
    }

    .skill_name {
        margin-left: 250px;
        padding-left: 10px;
        width: 4vw;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }

    .skillbar_wrapper {
        margin-bottom: 15px;
        width: 25vw;
        height: 40px;
    }

    .skillbar_bar {
        height: 40px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 3px;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
    }

    #exp-tools {
        width: 55%;
        margin-top: -720px;
    }

    .icons a img {
        width: 50px;
        margin-bottom: 30px;
    }
    
    #docker img {
        width: 70px;
        margin-left: 40px;
    }

    .design a img {
        margin-left: 30px;
    }
    /* End Experience */


    /* Contact */
    #contact {
        padding:50px 80px;
        height: 900px;
    }

    .row.contact {
        width: 100%;
        margin-left: -1vw;
        margin-top: 5vh;
    }

    .contact a img {
        width: 100px;
    }

    .form a img {
        margin-top: 45px;
        width: 100px;
    }

    .row h1 {
        margin-top: 20vh;
        letter-spacing: 1px;
    }

    form {
        height: 200px;
        width: 300px;
        margin-left: 2vw;
    }

    textarea {
        height: 200px;
    }
    /* End Contact */
}

@media only screen and (max-width : 1750px) {
    /* Experience */
    #experience {
        height: 125vw;
    }
}

@media only screen and (max-width : 1510px) {
    #experience {
        height: 130vw;
    }

    .category-name {
        letter-spacing: 0.2vw;
        font-size: 3vw; 
    }
    
    .tools {
        margin-left: 1.3vw;
    }

    .bar-container {
        margin-left: -15vw;
    }

    .skill_name {
        width: 5vw;
    }

    .skillbar_wrapper {
        width: 29vw;
    }

    #exp-tools {
        width: 50%;
        margin-top: -720px;
    }

    .icons a img {
        margin-right: 50px;
    }
    
    .design a img {
        margin-left: 50px;
    }
    
    #exp-tools h2 {
        font-size: 20px;
    }
    /* End Experience */


    /* Contact */
    #contact {
        padding: 50px 80px;
        height: 900px;
    }

    .row.contact {
        width: 100%;
        margin-left: -1vw;
        margin-top: 5vh;
    }

    .row h1 {
        margin-top: 15vh;
    }  
}

@media only screen and (max-width : 1335px) {
   /* Experience */
    #experience {
        padding: 50px 80px;
        height: 125vw;
    }
    
    .langs, .tools {
        font-size: 30px;
        width: 35vw;
    }

    .bar-container {
        margin: 10px;
        margin-left: -16vw;
        width: 55%;
    }

    .skill_name {
        margin-left: 250px;
        padding-left: 8px;
        width: 4.7vw;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .skillbar_wrapper {
        margin-bottom: 5px;
        width: 24vw;
        height: 30px;
    }
    
    .skillbar_bar {
        height: 30px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 0px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
    }

    #exp-tools {
        width: 55%;
        margin-top: -563px;
    }

    .icons a img {
        width: 45px;
        margin-bottom: 20px;
    }
    
    #docker img {
        width: 60px;
        margin-left: 40px;
    }

    .design a img {
        margin-left: 45px;
    }
    /* End Experience */ 
    
    /* Contact */
    #contact-text {
        margin-top: 2vh;
    }
    /* End Contact */

}

@media only screen and (max-width : 1286px) {
   /* Experience */
    #experience {
        padding: 50px 80px;
        height: 135vw;
    }
    
    .langs, .tools {
        font-size: 30px;
        width: 35vw;
    }

    .bar-container {
        margin: 10px;
        margin-left: -16vw;
        width: 70%;
    }

    .skill_name {
        margin-left: 250px;
        padding-left: 8px;
        width: 4.7vw;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .skillbar_wrapper {
        margin-bottom: 5px;
        width: 24vw;
        height: 30px;
    }
    
    .skillbar_bar {
        height: 30px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 0px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
    }

    #exp-tools {
        width: 55%;
        margin-top: -563px;
    }
    
    .column {
        width: 100%;
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .icons {
        flex-direction: column;  
    }

    .icons a img {
        width: 44px;
        margin-top: 18px;
        margin-left: -1.5vw;  
    }
    
    #docker img {
        width: 60px;
        margin-left: -20px;
        margin-top: 5px;
    }
    
    .column h2 {
        margin-right: 35px;
        border-right: 1px solid #FFF;
        padding-right: 10px;
    }
    
    .dev h2, .design h2{
        padding-top: 8px;
    }
    /* End Experience */ 
    
    /* Contact */
    #contact-text {
        margin-top: 2vh;
    }
    /* End Contact */

}

@media only screen and (max-width : 1150px) {
   /* Experience */
    
    .langs, .tools {
        font-size: 25px;
        width: 35vw;
    }

    .bar-container {
        margin: 10px;
        margin-left: -18.5vw;
        width: 70%;
    }

    .skill_name {
        margin-left: 250px;
        padding-left: 8px;
        width: 5.8vw;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .skillbar_wrapper {
        margin-bottom: 5px;
        width: 24vw;
        height: 30px;
    }
    
    .skillbar_bar {
        height: 30px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 0px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
    }
    
    .tools {
        margin-left: 0vw;
    }

    #exp-tools {
        margin-top: -560px;
    }

    .icons a img {
        width: 35px;
        margin-top: 25px;
        margin-left: -1.8vw;  
    }
    
    .dev a img, .design a img {
        margin-top: 19px;
    }
    
    #docker img {
        width: 45px;
        margin-left: -20px;
        margin-top: 10px;
    }
    
    .dev h2, .design h2 {
        padding-top: 4px;
    }
    /* End Experience */ 
}

@media only screen and (max-width : 1100px) {
    /* About */
    #about {
        padding: 50px 80px;
        height: 70vw;
    }

    #portrait {
        width: 30vw;
        height: 50vw; 
    }

    #about-me {
        width: 50vw;
        font-size: 1.3vw;
        line-height: 1.8vw;
        margin-top: 9vw;
        height: 50vw;
    }
    /* End About */
    
    /* Experience */
    #experience {
        height: 138vw;
    }
}

@media only screen and (max-width : 1070px) {
    /* Experience */
    #experience {
        height: 142vw;
    }
    
    .langs, .tools {
        font-size: 25px;
        width: 35vw;
        margin-left: -0.5vw;
    }

    .bar-container {
        margin: 10px;
        margin-left: -24vw;
        width: 70%;
    }

    .skill_name {
        margin-left: 250px;
        padding-left: 8px;
        width: 5.8vw;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .skillbar_wrapper {
        margin-bottom: 5px;
        width: 24vw;
        height: 30px;
    }
    
    .skillbar_bar {
        height: 30px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 0px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
    }

    #exp-tools {
        margin-top: -560px;
        left: -3vw;
    }
    
    #docker img {
        width: 45px;
        margin-left: -20px;
        margin-top: 20px;
    }
    
    .dev h2, .design h2 {
        padding-top: 4px;
    }
    /* End Experience */ 
}