/*Mobile Stylesheet*/

/*Phone Breakpoints Landscape*/
@media only screen and (max-width : 481px) {    
    /* Nav Bar */
    nav {
        padding: 0;
        top: 4%;
        left: 50%;
        height: 70px;
    }

    nav span {
        margin: 20px 20px;
        font-size: 16px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 40%;
        left: 50%;
    }

    .main-title img {
        width: 200px;
        height: 200px;
    }

    .home-caption {
        padding: 0;
        top: 70%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 18px;
    }
    /* End Home */
    
    
    /* About */
    #about {
        padding: 50px 60px;
        height: 210vw;
    }

    #portrait {
        width: 200px; 
        margin-top: 15vw;
        margin-left: 75px;
    }

    #about-me {
        width: 75vw;
        font-size: 2.5vw;
        line-height: 3.4vw;
        margin-top: 7vw;
        left: 70px;
        height: 550px;
    }
    /* End About */
    
    
    /* Experience */
    #experience {
        height: 3200px;
    }
    
    .row {
        flex-wrap: wrap;
    }
    
    .row a img {
        width: 60vw;
    }
    
    .langs {
        font-size: 30px;
    }
    
    .projs, .langs, .tools {
        margin-top: 20px;
    }
    
    .tools {
        margin-left: 60px;
    }

    .bar-container {
        margin: 15px;
        margin-bottom: 5px;
        width: 105%;
    }

    .skill_name {
        margin-left: 24px;
        padding-left: 10px;
        width: 15vw;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
    }

    .skillbar_wrapper {
        margin-bottom: 5px;
        width: 60vw;
        height: 30px;
    }

    .skillbar_bar {
        height: 30px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 0px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
    }

    #exp-tools {
        margin-top: 30px;
        width: 75%;
        float: left;
        margin-left: 0px;
    }
    
    .row.icons {
        flex-wrap: nowrap;
        width: 85vw;
        margin-left: 0px;
    }
    .icons {
        flex-direction: column;
    }
    
    .column {
        flex-direction: row;
        margin-right: -15px;
    }
    
    .design {
        margin-right: -40px;
    }
    
    #exp-tools h2 {
        font-size: 14px;
        margin-top: 22px;
    }
    
    .design h2 {
        width: 90px;
    }
    
    .column h2 {
        font-size: 16px;
        border-right: 1px solid #FFF;
        margin-right: 50px;
    }

    .icons a img {
        width: 30px;
        margin-bottom: 0px;
        margin-left: -30px
    }
    
    #docker img {
        width: 45px;
        margin-left: -25px;
        margin-top: 15px;
    }

    .design a img {
        margin-left: -30px;
    }
    
    .dev a img {
        margin-left: -30px;
    }
    /* End Experience */
    
    
    /* Contact */
    #contact {
        padding: 50px 40px;
        height: 800px;
    }

    .row.contact {
        width: 100%;
        margin-left: -35px;
        margin-top: 5vh;
    }

    .contact a img {
        width: 100px;
    }

    .form a img {
        margin-top: 0px;
        width: 75px;
    }

    .row h1 {
        width: 100vw;
        margin-top: 8vh;
        letter-spacing: normal;
        font-size: 20px;
        margin-left: 45px;
    }

    form {
        margin-top: -40px;
        height: 200px;
        width: 100vw;
        margin-left: 50px;
    }

    textarea {
        height: 200px;
    }
    /* End Contact */

}

/*Phone Breakpoints Portrait*/
@media only screen and (max-width : 320px) {
    /* Nav Bar */
    nav {
        padding: 0;
        top: 3%;
        left: 50%;
        height: 50px;
    }

    nav span {
        margin: 20px 10px;
        font-size: 12px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 40%;
        left: 50%;
    }

    .main-title img {
        width: 200px;
        height: 200px;
    }

    .home-caption {
        padding: 0;
        top: 80%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 18px;
    }
    /* End Home */
    
    
    /* About */
    #about {
        padding: 50px 35px;
        height: 1430px;
    }

    #portrait {
        width: 200px; 
        height: 300px;
        margin-top: 15vw;
        margin-left: 25px;
    }

    #about-me {
        width: 80vw;
        font-size: 4vw;
        line-height: 6vw;
        margin-top: 10vw;
        margin-left: 9px;
        height: 950px;
    }
    /* End About */
    
    
    /* Experience */
    #experience {
        height: 3000px;
    }
    
    .row {
        flex-wrap: wrap;
    }
    
    .row a img {
        width: 60vw;
    }
    
    .langs {
        font-size: 25px;
        margin-bottom: 35px;
    }
    
    .projs, .langs, .tools {
        margin-top: 20px;
    }
    
    .tools {
        margin-left: -45px;
        font-size: 30px;
        width: 100vw;
    }

    .bar-container {
        margin: 15px;
        margin-bottom: 5px;
        width: 120%;
    }

    .skill_name {
        margin-left: 14px;
        padding-left: 8px;
        width: 20vw;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }

    .skillbar_wrapper {
        margin-bottom: 0px;
        width: 50vw;
        height: 25px;
    }

    .skillbar_bar {
        height: 25px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 0px;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
    }

    #exp-tools {
        margin-top: 30px;
        width: 75%;
        float: left;
        margin-left: 0px;
    }
    
    .row.icons {
        flex-wrap: wrap;
        width: 85vw;
        margin-left: 0px;
    }
    .icons {
        flex-direction: row;
    }
    
    .column {
        width: 45vw;
        flex-direction: column;
        margin-right: -15px;
    }
    
    .design {
        margin-right: -40px;
    }
    
    #exp-tools h2 {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: -10px;

    }
    
    .design h2 {
        width: 90px;
        margin-left: 2px
        
    }
    
    .column h2 {
        font-size: 16px;
        border-right: none;
        margin-right: 50px;
    }

    .icons a img {
        width: 30px;
        margin-bottom: 0px;
        margin-left: 25px;
    }
    
    #docker img {
        width: 45px;
        margin-left: 19px;
        margin-top: 12px;
        margin-bottom: -10px;
    }

    .design a img {
        margin-left: 16px;
    }
    /* End Experience */
    
    
    /* Contact */
    #contact {
        padding: 50px 40px;
        height: 730px;
    }

    .row.contact {
        width: 100%;
        margin-left: -25px;
        margin-top: 5vh;
    }

    .contact a img {
        width: 70px;
    }

    .form a img {
        margin-top: 0px;
        width: 50px;
    }

    .row h1 {
        width: 100vw;
        margin-top: 8vh;
        letter-spacing: normal;
        font-size: 20px;
        margin-left: 45px;
    }

    form {
        margin-top: -40px;
        height: 200px;
        width: 100vw;
        margin-left: 50px;
    }

    textarea {
        height: 200px;
    }
    /* End Contact */
}