/*Tablet Stylesheet*/

/*Tablet Breakpoints Landscape*/
@media only screen and (max-width : 1024px) {    
    /* Nav Bar */
    nav {
        padding: 0;
        top: 4%;
        left: 50%;
        height: 70px;
    }

    nav span {
        margin: 20px 40px;
        font-size: 20px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 40%;
        left: 50%;
    }

    .main-title img {
        width: 200px;
        height: 200px;
    }

    .home-caption {
        padding: 0;
        top: 70%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 20px;
    }
    /* End Home */
    
    
    /* Experience */
    #experience {
        height: 110vw;
    }
    /* End Experience */
    
    
    /* Contact */
    #contact {
        padding: 50px 80px;
        height: 830px;
    }
    /* End Contact */

}

@media only screen and (max-width : 1000px) {
    /* Experience */
    #experience {
        height: 110vw;
    }
    
    .langs, .tools {
        font-size: 24px;
        width: 35vw;
        margin-left: 0vw;
    }
    
    .icons a img {
        width: 35px;
        margin-top: 25px;
        margin-left: -2.4vw;  
    }
    
    .dev h2, .design h2 {
        padding-top: 4px;
    }
    /* End Experience */ 
}

@media only screen and (max-width : 950px) {
    /* Experience */
    #experience {
        height: 110vw;
    }
    
    .langs, .tools {
        font-size: 24px;
        width: 35vw;
        margin-left: 0vw;
    }
    
    .icons a img {
        width: 35px;
        margin-top: 25px;
        margin-left: -2.4vw;  
    }
    
    #docker img {
        width: 45px;
        margin-left: -20px;
        margin-top: 20px;
    }
    
    .dev h2, .design h2 {
        padding-top: 12px;
    }
    /* End Experience */ 
}

@media only screen and (max-width : 900px) {
    #experience {
        height: 115vw;
    }
    
    .icons a img {
        width: 35px;
        margin-top: 25px;
        margin-left: -3vw;  
    }
}

@media only screen and (max-width : 884px) {
    /* About */
    #about {
        padding: 50px 60px;
        height: 110vw;
    }

    #portrait {
        width: 30vw;
        height: 50vw; 
        margin-top: 20vw;
    }

    #about-me {
        width: 50vw;
        font-size: 1.8vw;
        line-height: 2.3vw;
        margin-top: 9vw;
        height: 93vw;
    }
    /* End About */
    
    /* Experience */
    #experience {
        height: 130vw;
    }
    
    .category-name {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 0px;
        width: 100%;
        height: 50px;
        letter-spacing: 3px;
        font-size: 40px; 
    }
    
    #exp-tools h2 {
        font-size: 22px;
        margin-top: 15px;
    }
    
    .icons a img {
        width: 50px;
        margin-top: 25px;
        margin-left: -1.2vw;  
    }
    
    .dev h2, .design h2 {
        padding-top: 12px;
    }
    /* End Experience */ 
}

@media only screen and (max-width : 810px) {
    #experience {
        height: 135vw;
    }
}

/*Tablet Breakpoints Portrait*/
@media only screen and (max-width : 768px) {
    a img {
        width: 25vw;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .caption span.border {
        padding: 10px;
        width: 100%;
        left: 0;
        right: 0;
        font-size: 25px;
        letter-spacing: 2px;
        margin-top: -50px;
    }
    /* End Entire Site Formatting */


    /* Nav Bar */
    nav {
        top: 3.5%;
        left: 50%;
        height: 70px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 40%;
        left: 50%;
    }

    .home-caption {
        padding: 0;
        top: 65%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 24px;
    }
    /* End Home */

    /* About */
    #about {
        padding: 50px 60px;
        height: 113vw;
    }

    #portrait {
        width: 30vw;
        height: 50vw; 
        margin-top: 20vw;
    }
    /* End About */

    
    /* Experience */
    #experience {
        padding: 50px 50px;
        height: 170vw;
    }
    
    .row {
        width: 100%;
        margin-left: -30px;
    }
    
    .category-name {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 0px;
        width: 100%;
        height: 50px;
        letter-spacing: 3px;
        font-size: 40px; 
        text-align: center;
    }
    
    .projs, .langs, .tools {
        margin-top: 20px;
    }
    
    .tools{
        margin-left: -3vw;
    }

    #exp-tools {
        margin-top: 30px;
        float: left;
        margin-left: 50px;  
    }
    
    .row.icons {
        width: 80vw;
        margin-left: 0px;
    }
    .icons {
        flex-direction: row;
    }
    
    .column {
        width: 18vw;
        flex-direction: column;
    }
    
    .column h2 {
        border-right: none;
    }

    .icons a img {
        width: 50px;
        margin-bottom: 20px;
        margin-left: 30px
    }
    
    .dev a img {
        margin-left: 25px;
    }
    /* End Experience */


    /* Contact */
    #contact {
        padding: 50px 50px;
        height: 800px;
    }

    .row.contact {
        width: 100%;
        margin-left: -20px;
        margin-top: 5vh;
    }

    .contact a img {
        width: 100px;
    }

    .form a img {
        margin-top: 45px;
        width: 100px;
    }

    .row h1 {
        width: 100vw;
        margin-top: 12vh;
        letter-spacing: 1px;
        margin-left: 45px;
    }

    form {
        height: 200px;
        width: 300px;
        margin-left: 2vw;
    }

    textarea {
        height: 200px;
    }
    /* End Contact */
}

@media only screen and (max-width : 684px) { 
    /* Nav Bar */
    nav {
        padding: 0;
        top: 4%;
        left: 50%;
        height: 65px;
    }

    nav span {
        margin: 20px 20px;
        font-size: 16px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 40%;
        left: 50%;
    }

    .main-title img {
        width: 200px;
        height: 200px;
    }

    .home-caption {
        padding: 0;
        top: 70%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 18px;
    }
    /* End Home */
    
    
    /* About */
    #about {
        padding: 50px 60px;
        height: 210vw;
    }

    #portrait {
        display: block;
        width: 50%; 
        margin-top: 15vw;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #about-me {
        width: 75vw;
        font-size: 2.5vw;
        line-height: 3.4vw;
        margin-top: 7vw;
        left: 70px;
        height: 125vw;
    }
    /* End About */
    
    
    /* Experience */
    #experience {
        height: 230vw;
    }
    
    .row {
        flex-wrap: wrap;
    }
    
    .row a img {
        width: 60vw;
    }
    
    .langs {
        font-size: 30px;
    }
    
    .projs, .langs, .tools {
        margin-top: 20px;
    }
    
    .tools {
        margin-left: 60px;
        margin-bottom: 100px;
    }
    
    #exp-tools {
        margin-top: 30px;
        width: 75%;
        float: left;
        margin-left: 0px;
    }
    
    .row.icons {
        flex-wrap: nowrap;
        width: 85vw;
        margin-left: 0px;
    }
    .icons {
        flex-direction: column;
    }
    
    .column {
        flex-direction: row;
        margin-right: -15px;
    }
    
    #exp-tools h2 {
        font-size: 14px;
        margin-top: 22px;
    }
    
    .column h2 {
        font-size: 16px;
        border-right: 1px solid #FFF;
        margin-right: 50px;
    }

    .icons a img {
        width: 30px;
        margin-bottom: 0px;
        margin-left: -30px
    }
    
    .dev a img {
        margin-left: -30px;
    }
    /* End Experience */
    
    
    /* Contact */
    #contact {
        padding: 50px 40px;
        height: 800px;
    }

    .row.contact {
        width: 100%;
        margin-left: -35px;
        margin-top: 5vh;
    }

    .contact a img {
        width: 100px;
    }

    .form a img {
        margin-top: 0px;
        width: 75px;
    }

    .row h1 {
        width: 100vw;
        margin-top: 8vh;
        letter-spacing: normal;
        font-size: 20px;
        margin-left: 45px;
    }

    form {
        margin-top: -40px;
        height: 200px;
        width: 100vw;
        margin-left: 50px;
    }

    textarea {
        height: 200px;
    }
    /* End Contact */
    
    @media only screen and (max-width : 600px) { 
        #experience {
        height: 260vw;
        }
    }
    
    @media only screen and (max-width : 518px) { 
        #experience {
        height: 280vw;
        }
    }
}