/*Tablet Stylesheet*/

/*Tablet Breakpoints Landscape*/
@media only screen and (max-width : 1024px) {    
    /* Nav Bar */
    nav {
        padding: 0;
        top: 4%;
        left: 50%;
        height: 70px;
    }

    nav span {
        margin: 20px 40px;
        font-size: 20px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 40%;
        left: 50%;
    }

    .main-title img {
        width: 200px;
        height: 200px;
    }

    .home-caption {
        padding: 0;
        top: 70%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 20px;
    }
    /* End Home */
    
    
    /* Experience */
    #experience {
        height: 145vw;
    }
    /* End Experience */
    
    
    /* Contact */
    #contact {
        padding: 50px 80px;
        height: 830px;
    }
    /* End Contact */

}

@media only screen and (max-width : 1000px) {
    /* Experience */
    #experience {
        height: 155vw;
    }
    
    .langs, .tools {
        font-size: 24px;
        width: 35vw;
        margin-left: 0vw;
    }

    .bar-container {
        margin: 10px;
        margin-left: -24vw;
        width: 70%;
    }

    .skill_name {
        margin-left: 250px;
        padding-left: 8px;
        width: 5.8vw;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .skillbar_wrapper {
        margin-bottom: 5px;
        width: 24vw;
        height: 30px;
    }
    
    .skillbar_bar {
        height: 30px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 0px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
    }

    #exp-tools {
        margin-top: -560px;
        left: -2vw;
    }
    
    .icons a img {
        width: 35px;
        margin-top: 25px;
        margin-left: -2.4vw;  
    }
    
    #docker img {
        width: 45px;
        margin-left: -20px;
        margin-top: 20px;
    }
    
    .design h2 {
        margin-right: 32px;
    }
    
    .dev h2, .design h2 {
        padding-top: 4px;
    }
    /* End Experience */ 
}

@media only screen and (max-width : 950px) {
    /* Experience */
    #experience {
        height: 160vw;
    }
    
    .langs, .tools {
        font-size: 24px;
        width: 35vw;
        margin-left: 0vw;
    }

    .bar-container {
        margin: 10px;
        margin-left: -28vw;
        width: 75%;
    }

    .skill_name {
        font-size: 10px;
    }

    #exp-tools {
        margin-top: -560px;
        left: -2vw;
    }
    
    #exp-tools h2 {
        font-size: 18px;
        margin-top: 15px;
    }
    
    .icons a img {
        width: 35px;
        margin-top: 25px;
        margin-left: -2.4vw;  
    }
    
    #docker img {
        width: 45px;
        margin-left: -20px;
        margin-top: 20px;
    }
    
    .dev h2, .design h2 {
        padding-top: 12px;
    }
    /* End Experience */ 
}

@media only screen and (max-width : 900px) {
    .icons a img {
        width: 35px;
        margin-top: 25px;
        margin-left: -3vw;  
    }
}

@media only screen and (max-width : 875px) {
    /* Experience */
    #experience {
        height: 250vw;
    }
    
    .category-name {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 0px;
        width: 100%;
        height: 50px;
        letter-spacing: 3px;
        font-size: 40px; 
    }

    .bar-container {
        margin: 15px;
        width: 100%;
    }

    .skill_name {
        margin-left: 0px;
        padding-left: 10px;
        width: 10vw;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }

    .skillbar_wrapper {
        margin-bottom: 15px;
        width: 60vw;
        height: 40px;
    }

    .skillbar_bar {
        height: 40px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 3px;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
    }

    #exp-tools {
        margin-top: 0px;
        left: 18vw;
        width: 100vw;
    }
    
    #exp-tools h2 {
        font-size: 22px;
        margin-top: 15px;
    }
    
    .icons a img {
        width: 50px;
        margin-top: 25px;
        margin-left: -1.2vw;  
    }
    
    #docker img {
        width: 45px;
        margin-left: -20px;
        margin-top: 20px;
    }
    
    .dev h2, .design h2 {
        padding-top: 12px;
    }
    /* End Experience */ 
}

/*Tablet Breakpoints Portrait*/
@media only screen and (max-width : 768px) {
    a img {
        width: 25vw;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .caption span.border {
        padding: 10px;
        width: 100%;
        left: 0;
        right: 0;
        font-size: 25px;
        letter-spacing: 2px;
        margin-top: -50px;
    }
    /* End Entire Site Formatting */


    /* Nav Bar */
    nav {
        top: 3.5%;
        left: 50%;
        height: 70px;
    }
    /* End Nav Bar */


    /* Home */
    .main-title {
        margin: 0;
        padding: 0;
        top: 40%;
        left: 50%;
    }

    .home-caption {
        padding: 0;
        top: 65%;
        left: 50%;
        width: 80%;
    }

    .home-caption h1 {
        font-size: 24px;
    }
    /* End Home */

    /* About */
    #about {
        padding: 50px 60px;
        height: 100vw;
    }

    #portrait {
        width: 30vw;
        height: 50vw; 
        margin-top: 20vw;
    }

    #about-me {
        width: 50vw;
        font-size: 1.8vw;
        line-height: 2.3vw;
        margin-top: 9vw;
        height: 75vw;
    }
    /* End About */

    
    /* Experience */
    #experience {
        padding: 50px 50px;
        height: 300vw;
    }
    
    .row {
        width: 100%;
        margin-left: -30px;
    }
    
    .category-name {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 0px;
        width: 100%;
        height: 50px;
        letter-spacing: 3px;
        font-size: 40px; 
        text-align: center;
    }
    
    .projs, .langs, .tools {
        margin-top: 20px;
    }
    
    .tools {
        margin-left: 25px;
    }

    .bar-container {
        margin: 15px;
        width: 100%;
    }

    .skill_name {
        margin-left: 75px;
        padding-left: 10px;
        width: 10vw;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }

    .skillbar_wrapper {
        margin-bottom: 15px;
        width: 60vw;
        height: 40px;
    }

    .skillbar_bar {
        height: 40px;
    }

    .skill_bar_percent {
        right: 10px;
        top: 3px;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
    }

    #exp-tools {
        margin-top: 30px;
        width: 75%;
        float: left;
        margin-left: 70px;  
    }
    
    .row.icons {
        width: 80vw;
        margin-left: 0px;
    }
    .icons {
        flex-direction: row;
    }
    
    .column {
        flex-direction: column;
    }
    
    .column h2 {
        border-right: none;
    }

    .icons a img {
        width: 50px;
        margin-bottom: 20px;
        margin-left: 30px
    }
    
    #docker img {
        width: 70px;
        margin-left: 22px;
    }

    .design a img {
        margin-left: 15px;
    }
    
    .dev a img {
        margin-left: 25px;
    }
    /* End Experience */


    /* Contact */
    #contact {
        padding: 50px 50px;
        height: 800px;
    }

    .row.contact {
        width: 100%;
        margin-left: -20px;
        margin-top: 5vh;
    }

    .contact a img {
        width: 100px;
    }

    .form a img {
        margin-top: 45px;
        width: 100px;
    }

    .row h1 {
        width: 100vw;
        margin-top: 12vh;
        letter-spacing: 1px;
        margin-left: 45px;
    }

    form {
        height: 200px;
        width: 300px;
        margin-left: 2vw;
    }

    textarea {
        height: 200px;
    }
    /* End Contact */
}